Procfile        text eol=lf
build.sh        text eol=lf
*.sh            text eol=lf
render.yaml     text eol=lf
*.py            text eol=lf
*.html          text eol=lf
*.txt           text eol=lf
*.md            text eol=lf
